<div class="container">
    <ul>
        <% @exercises.each do |exercise| %>
            <li><%=link_to exercise.category, new_exercise_user_answer_path(exercise) %></li>
        <%end%>
    </ul>
</div>