.exercise-page {
    font-size: 1.2em;
    // font-weight: bold;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    text-align: center;

    .exercise-title {
        font-weight: bold;
    }

    .exercise-statement {
        text-align: justify;
    }

    .exercise-source {
        font-size: 0.8em;
    }

    .image-centered {
        margin: auto;
    }
}